.caltext {
    font-size:xx-large;
    text-align: center;
    text-shadow: 2px 2px 5px gray;
 
}
.calculator {
    border: 1px solid rgba(90, 90, 90);
    width: 200px;
    border-radius: 5px;
    margin: auto;
  }